{#
    Single flash message template.

    parameters:
        - type: Message type according to Bootstrap alert types,
        - message: Message content,
#}

{# Bootstrap alert, see http://getbootstrap.com/components/#alerts #}
<div class="mdc-snackbar mdc-snackbar--align-start alert-{{ type }} mdc-snackbar--active" aria-live="assertive" aria-atomic="true" aria-hidden="true" role="alert" style="display: block;">
    <div class="mdc-snackbar__text">{{ message }}</div>
</div>