{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.error500'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.error500'|trans }}</h1>
    <p>Something went wrong on our server &#9785; </p>
    <p>We're working our best to be alive again!</p>
{% endblock %}
