{
"version": 3,
"mappings": "AAAA,UAAU;EACR,MAAM,EAAE,CAAC;EACT,UAAU,EAAE,OAAO;;AAYrB,UAAU;EACR,KAAK,EAAE,IAAI;EACX,MAAM,EAAE,KAAK;EACb,eAAe,EAAE,KAAK;;AAExB,gBAAgB;EACd,gBAAgB,EAAE,gLAAgL;;AAEpM,UAAU;EACR,WAAW,EAAE,IAAI;EACjB,YAAY,EAAE,IAAI;;AAEpB,eAAe;EACb,OAAO,EAAE,IAAI;EACb,cAAc,EAAE,GAAG;EACnB,eAAe,EAAE,MAAM;;AAEzB,mBAAmB;EACjB,WAAW,EAAE,IAAI;EACjB,YAAY,EAAE,IAAI;EAClB,SAAS,EAAE,KAAK;;AAQlB,QAAQ;EACN,MAAM,EAAE,IAAI;EACZ,KAAK,EAAE,KAAK;;AAEd,cAAc;EACZ,OAAO,EAAE,SAAS;EAClB,UAAU,EAAE,IAAI;;AAGlB,iBAAiB;EACf,OAAO,EAAE,IAAI;;AAEf,mBAAmB;EACjB,OAAO,EAAE,IAAI;;AAEf,cAAc;EACZ,0BAA0B,CAAC,MAAM;;AAOnC,GAAG;EACD,KAAK,EAAE,IAAI;EACX,gBAAgB,EAAE,OAAO;;AAE3B,qBAAqB;EACnB,OAAO,EAAE,KAAK;;AAEhB,eAAe;EACb,SAAS,EAAE,MAAM;;AAInB,iBAAiB;EACf,MAAM,EAAE,kBAAkB;;AAE5B,mBAAmB;EACjB,QAAQ,EAAE,QAAQ;EAClB,OAAO,EAAE,mBAAmB;EAC5B,aAAa,EAAE,GAAG;;AAMlB,cAAE;EACA,OAAO,EAAE,aAAa;EACtB,MAAM,EAAE,KAAK;AACf,qBAAS;EACP,gBAAgB,EAAE,WAAW;EAC7B,KAAK,EAxFG,OAAO;EAyFf,WAAW,EAAE,IAAI;;AAErB;YAAa;EAEX,KAAK,EA7FK,OAAO;;AA+FnB,QAAQ;EACN,OAAO,EAAE,IAAI;;AAMf,0BAA0B;EACxB,KAAK,EAvGK,OAAO;;AAyGnB;sCAAmC;EAEjC,gBAAgB,EA3GN,OAAO;EA4GjB,KAAK,EAAE,OAAO;;AAIhB,gBAAgB;EACd,UAAU,EAAE,IAAI;;AAQlB,WAAW;EACT,aAAa,EAAE,IAAI;;AAGrB,0DAA0D;EACxD,OAAO,EAAE,CAAC;;AAEZ,eAAe;EACb,OAAO,EAAE,IAAI;EACb,KAAK,EAAE,IAAI;EACX,SAAS,EAAE,IAAI;EACf,YAAY,EAAE,IAAI;EAClB,WAAW,EAAE,IAAI;;AAEnB,qBAAqB;EACnB,WAAW,EAAE,KAAK;EAClB,UAAU,EAAE,GAAG;;AAMjB,cAAc;EACZ,MAAM,EAAE,eAAe;EACvB,cAAc,EAAE,SAAS;;AAE3B,mBAAmB;EACjB,MAAM,EAAE,wBAAwB;EAChC,SAAS,EAAE,KAAK;;AAElB,WAAW;EACT,aAAa,EAAE,IAAI;;AAErB,aAAa;EACX,gBAAgB,EAAE,OAAO;EACzB,KAAK,EAAE,KAAK;;AAGd,mBAAmB;EACjB,KAAK,EAAE,KAAK;;AAEd,SAAS;EACP,OAAO,EAAE,IAAI;;AAEf,mBAAmB;EACjB,OAAO,EAAE,IAAI;;AAKf,cAAc;EACZ,MAAM,EAAE,eAAe",
"sources": ["../sass/style.sass"],
"names": [],
"file": "style.css"
}
html, body {
  margin: 0;
  background: #f3f2f2; }

.full-page {
  width: 100%;
  height: 100vh;
  background-size: cover; }

.full-page-login {
  background-image: url("https://images.unsplash.com/photo-1491185841098-9ce20f966624?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f83a8cf7b92564946950e478c9606e4f&auto=format&fit=crop&w=2689&q=80");
  background-size: 120%; }

.is-center {
  margin-left: auto;
  margin-right: auto; }

.content-center {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.content-center-col {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.page__main-section {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
  padding: 1rem; }

.typography-negative {
  color: #fff; }

.typography-center {
  text-align: center; }

.my-card {
  height: auto;
  width: 350px; }

.mdc-card-form {
  padding: 1rem 2rem;
  margin-top: 2rem; }

.cb-card__primary {
  padding: 1rem 1rem 0 1rem; }

.cb-card__secondary {
  padding: 0.5rem; }

.mdc-grid-tile {
  --mdc-grid-list-tile-width: 300px; }

nav {
  color: #fff;
  background-color: #9ccc65; }

nav a.sidenav-trigger {
  display: block; }

nav .brand-logo {
  font-size: 1.5rem; }

.nav-actions-list {
  margin: 2.8rem 0 1.68rem 0; }

.sidenav .user-view {
  position: relative;
  padding: 84px 32px 32px 32px;
  margin-bottom: 8px; }

.pagination li {
  padding: 5px 5px 0 5px;
  margin: 0 5px; }
.pagination li.active {
  background-color: transparent;
  color: #6b9b37;
  font-weight: bold; }

.prev span i,
.next span i {
  padding: 0px 5px 0 5px;
  color: #6b9b37;
  margin-top: -3px; }

.sr-only {
  display: none; }

.mdc-button:not(:disabled) {
  color: #6b9b37; }

.mdc-button--raised:not(:disabled),
.mdc-button--unelevated:not(:disabled) {
  background-color: #6b9b37;
  color: #FFFFFF; }

.mdc-button-back {
  margin-top: 2rem; }

.form-group {
  margin-bottom: 24px; }

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  opacity: 1; }

.checkbox label {
  display: flex;
  width: auto;
  min-width: 60px;
  padding-left: 20px;
  margin-left: 10px; }

.checkbox label input {
  margin-left: -20px;
  margin-top: 3px; }

.category-name {
  margin: 1.8rem 0 0rem 0;
  text-transform: uppercase; }

.recipe-description {
  margin: 2.8rem auto 1.68rem auto;
  max-width: 700px; }

.recipe-box {
  margin-bottom: 4rem; }

.activetoggle {
  background-color: #6b9b37;
  color: white; }

.activetoggle:hover {
  color: white; }

.hidetile {
  display: none; }

#recipe_ingredients {
  display: flex; }

.center-full {
  margin: 20% auto 0 auto; }

.photo-button {
  display: block;
  margin: 1rem; }

input[type=file] {
  background: red; }

.mdc-snackbar {
  z-index: 10; }

.mdc-grid-tile {
  margin: 6px 0;
  padding: 0 6px; }

.mdc-chip-set {
  padding: 0; }

.cb-card__secondary {
  padding: 0rem 1rem; }

/*# sourceMappingURL=style.css.map */

{
"version": 3,
"mappings": "AAAA,UAAU;EACR,MAAM,EAAE,CAAC;EACT,UAAU,EAAE,OAAO;;AAErB,QAAQ;EACN,MAAM,EAAE,IAAI;EACZ,KAAK,EAAE,KAAK;;AAEd,mBAAmB;EACjB,WAAW,EAAE,IAAI;EACjB,YAAY,EAAE,IAAI;EAClB,SAAS,EAAE,KAAK;;AAElB,iBAAiB;EACf,OAAO,EAAE,IAAI;;AAEf,mBAAmB;EACjB,OAAO,EAAE,IAAI;;AAEf,cAAc;EACZ,0BAA0B,CAAC,MAAM;;AAEnC,qBAAqB;EACnB,OAAO,EAAE,KAAK;;AAEhB,eAAe;EACb,SAAS,EAAE,MAAM;;AAEnB,0DAA0D;EACxD,OAAO,EAAE,CAAC;;AAEZ,GAAG;EACD,KAAK,EAAE,IAAI;EACX,gBAAgB,EAAE,OAAO;;AAE3B,mBAAmB;EACjB,QAAQ,EAAE,QAAQ;EAClB,OAAO,EAAE,mBAAmB;EAC5B,aAAa,EAAE,GAAG;;AAEpB,iBAAiB;EACf,MAAM,EAAE,kBAAkB;;AAE5B;sCAAmC;EAEjC,gBAAgB,EAAE,OAAO;;AAG3B,cAAc;EACZ,MAAM,EAAE,eAAe;EACvB,cAAc,EAAE,SAAS;;AAE3B,mBAAmB;EACf,MAAM,EAAE,wBAAwB;EAChC,SAAS,EAAE,KAAK;;AAEpB,WAAW;EACT,aAAa,EAAE,IAAI;;AAErB,aAAa;EACX,gBAAgB,EAAE,OAAO;EACzB,KAAK,EAAE,KAAK;;AAGd,mBAAmB;EACjB,KAAK,EAAE,KAAK;;AAEd,SAAS;EACP,OAAO,EAAE,IAAI;;AAEf,mBAAmB;EACjB,OAAO,EAAE,IAAI;;AAEf,eAAe;EACb,OAAO,EAAE,IAAI;EACb,KAAK,EAAE,IAAI;EACX,SAAS,EAAE,IAAI;EACf,YAAY,EAAE,IAAI;EAClB,WAAW,EAAE,IAAI;;AAEnB,qBAAqB;EACnB,WAAW,EAAE,KAAK;EAClB,UAAU,EAAE,GAAG;;AAEjB,WAAW;EACT,aAAa,EAAE,IAAI;;AAErB,cAAc;EACZ,OAAO,EAAE,SAAS;EAClB,UAAU,EAAE,IAAI;;AAElB,gBAAgB;EACd,UAAU,EAAE,IAAI;;AAElB,UAAU;EACR,WAAW,EAAE,IAAI;EACjB,YAAY,EAAE,IAAI",
"sources": ["../sass/styles.sass"],
"names": [],
"file": "styles.css"
}