{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.search'|trans }}
{% endblock %}

{% block body %}

    <h1>{{ 'title.search'|trans }}</h1>
    <article class="container">
        {% if recipes is defined and recipes|length %}
            <ul class="row list-unstyled">
                {% for item in recipes %}
                    <p>bl bl bl   {{ item.name }}</p>

                {% endfor %}
            </ul>
        {% else %}
            <p>
                {{ 'message.empty_list'|trans }}
            </p>
        {% endif %}
    </article>


{% endblock %}