{% extends 'base.html.twig' %}
{% block body %}
    {{ app.user }}
    {% if app.user is defined and app.user|length %}
        {% block fos_user_content %}
            {% include "@FOSUser/Profile/edit_content.html.twig" %}
        {% endblock fos_user_content %}
    {% else %}
        <h2>{{ 'error.please_login'|trans }}</h2>
    {% endif %}
{% endblock %}
